:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--p4);
}

:root {
    --p1: #333333;
    /* Tomate */
    --p2: #D4AF37;
    /* Ouro */
    --p3: #1A1A1A;
    /* Cornsilk */
    --p4: #F7E7CE;
    /* Cinza escuro®® */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--p3);

}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    gap: 10px;
    overflow: auto;
}

h1, 
h2 {
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: var(--p1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    & img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    overflow-y: auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: var(--p1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--p4);
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: var(--p1);
    color: var(--p3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: var(--p4);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#btnReceitas {
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
}

#fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}

.card button {
    background-color: red;
    color: white;
}